In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data_fake=pd.read_csv("./Fake.csv")
data_true=pd.read_csv("./True.csv")

In [3]:
data_fake.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

In [4]:
data_true.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

In [5]:
print("true :",data_true.shape)
print("fake :",data_fake.shape)

true : (21417, 4)
fake : (23481, 4)

In [6]:
import re
import string
data_fake["class"]=0
data_true["class"]=1
data_fake_testing=data_fake.tail(10)
for i in range(23480,23470,-1):
    data_fake.drop([i],axis=0,inplace=True)
    
    
    
data_true_testing=data_true.tail(10)
for i in range(21416,21406,-1):
    data_true.drop([i],axis=0,inplace=True)

In [7]:
data_fake_testing["class"]=0
data_true_testing["class"]=1

D:\Temp\ipykernel_11428\375844054.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_fake_testing["class"]=0
D:\Temp\ipykernel_11428\375844054.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_true_testing["class"]=1

In [8]:
data_fake_testing.head()

,title,text,subject,date,class
23471,Seven Iranians freed in the prisoner swap have...,"21st Century Wire says This week, the historic...",Middle-east,"January 20, 2016",0
23472,#Hashtag Hell & The Fake Left,By Dady Chery and Gilbert MercierAll writers ...,Middle-east,"January 19, 2016",0
23473,Astroturfing: Journalist Reveals Brainwashing ...,Vic Bishop Waking TimesOur reality is carefull...,Middle-east,"January 19, 2016",0
23474,The New American Century: An Era of Fraud,Paul Craig RobertsIn the last years of the 20t...,Middle-east,"January 19, 2016",0
23475,Hillary Clinton: ‘Israel First’ (and no peace ...,Robert Fantina CounterpunchAlthough the United...,Middle-east,"January 18, 2016",0

In [9]:
data_merge=pd.concat([data_fake,data_true],axis=0)
data_merge.head()

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [10]:
data_merge.drop(["title","subject","date"],axis=1,inplace=True)

In [11]:
data_merge.isnull().sum()

text     0
class    0
dtype: int64

In [12]:
data_merge=data_merge.sample(frac=1)

In [13]:
data_merge.reset_index(inplace=True)

In [14]:
data_merge.drop("index",axis=1,inplace=True)

In [15]:
data_merge

                                                    text  class
0      (Reuters) - Lloyd s of London underwriter Hisc...      1
1      WASHINGTON (Reuters) - U.S. Democratic preside...      1
2      Fox News host,Judge Jeanine Pirro appeared to ...      0
3      It s no secret that Sean Hannity is one of Don...      0
4      Over 50 people are dead, and more than 500 are...      0
...                                                  ...    ...
44873  WASHINGTON (Reuters) - President Donald Trump’...      1
44874  ISTANBUL/KHARTOUM (Reuters) - Turkey will rebu...      1
44875  HAVANA (Reuters) - U.S. President Barack Obama...      1
44876  Donald Trump has a white supremacy problem, an...      0
44877  NEW YORK (Reuters) - Allan Landon prepared for...      1

[44878 rows x 2 columns]

In [16]:
def word(text):
    text=text.lower()
    text=re.sub('\[.*?\]','',text)
    text=re.sub('\\W',' ',text)
    text=re.sub('https?://\S+|www\.\S+','',text)
    text=re.sub('<.*?>+','',text)
    text=re.sub('[%s]'% re.escape(string.punctuation),'',text)
    text=re.sub('\n',"",text)
    text=re.sub("\w*\d\w*",'',text)
    return text

In [17]:
data_merge["text"]=data_merge["text"].apply(word)

In [18]:
x=data_merge["text"]
y=data_merge["class"]

In [19]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

In [20]:
from sklearn.feature_extraction.text import TfidfVectorizer
vect=TfidfVectorizer()
x_train_vc=vect.fit_transform(x_train)
x_test_vc=vect.transform(x_test)

In [21]:
from sklearn.tree import DecisionTreeClassifier
DecisionTree=DecisionTreeClassifier()
DecisionTree.fit(x_train_vc,y_train)
ypred=DecisionTree.predict(x_test_vc)

In [22]:
from sklearn.metrics import accuracy_score,classification_report
print("score ",accuracy_score(y_test,ypred))
print(classification_report(y_test,ypred))

score  0.9966577540106952
              precision    recall  f1-score   support

           0       1.00      1.00      1.00      4805
           1       1.00      1.00      1.00      4171

    accuracy                           1.00      8976
   macro avg       1.00      1.00      1.00      8976
weighted avg       1.00      1.00      1.00      8976

In [23]:
from sklearn.ensemble import GradientBoostingClassifier


GradientBoosting=GradientBoostingClassifier(random_state=1)
GradientBoosting.fit(x_train_vc,y_train)
ypred=GradientBoosting.predict(x_test_vc)
print("score ",accuracy_score(y_test,ypred))
print(classification_report(y_test,ypred))

score  0.9958778966131907
              precision    recall  f1-score   support

           0       1.00      0.99      1.00      4805
           1       0.99      1.00      1.00      4171

    accuracy                           1.00      8976
   macro avg       1.00      1.00      1.00      8976
weighted avg       1.00      1.00      1.00      8976

In [24]:
from sklearn.linear_model import LogisticRegression

LogisticR=LogisticRegression(max_iter=300)
LogisticR.fit(x_train_vc,y_train)
ypred=LogisticR.predict(x_test_vc)
print("score ",accuracy_score(y_test,ypred))
print(classification_report(y_test,ypred))

score  0.9871880570409982
              precision    recall  f1-score   support

           0       0.99      0.99      0.99      4805
           1       0.99      0.99      0.99      4171

    accuracy                           0.99      8976
   macro avg       0.99      0.99      0.99      8976
weighted avg       0.99      0.99      0.99      8976

In [26]:
from sklearn.ensemble import RandomForestClassifier


RandomForest=RandomForestClassifier()
RandomForest.fit(x_train_vc,y_train)
ypred=RandomForest.predict(x_test_vc)
print("score ",accuracy_score(y_test,ypred))
print(classification_report(y_test,ypred))

score  0.9910873440285205
              precision    recall  f1-score   support

           0       0.99      0.99      0.99      4805
           1       0.99      0.99      0.99      4171

    accuracy                           0.99      8976
   macro avg       0.99      0.99      0.99      8976
weighted avg       0.99      0.99      0.99      8976

In [31]:
def out_label(x):
    if x==0:
        return "fake"
    else : return "safe"
def manual(news):
    testing_news={"text":[news]}
    new_def_test=pd.DataFrame(testing_news)
    new_x_test=new_def_test["text"]
    new_vect_x=vect.transform(new_x_test)
    pred_gb=GradientBoosting.predict(new_vect_x)
    pred_lr=LogisticR.predict(new_vect_x)
    pred_rf=RandomForest.predict(new_vect_x)
    pred_dt=DecisionTree.predict(new_vect_x)
    
    return print(f"\n Gradient Boosting Prediction : {out_label(pred_gb[0])} \n Logistic Regression Prediction : {out_label(pred_lr[0])} \n Random Forest Predicion : {out_label(pred_rf[0])} \n Decision Tree Prediction : {out_label(pred_dt[0])}")

news=str(input())
manual(news)

 Gradient Boosting Prediction : safe
 Logistic Regression Prediction : safe
 Random Forest Predicion : safe
 Decision Tree Prediction : safe